<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>


<body>

<h2>Afiseaza daca un client a rezervat un produs, furnizorul produsului si de cate ori l-a comandat</h2>
<!--Verificare daca un produs e cumparat de un client -->
<form action="/Afisdin3tabele">
  <label for="nprod">Numele Produsului:</label><br>
  <input type="text" name="nprod" value=""><br>
  <label for="ncli">Numele Clientului:</label><br>
  <input type="text" name="ncli" value=""><br>
  <input type="submit" value="Verifica">
  
	{% if condition == 1 %}
		<h2>{{table}}</h2> 
	{% endif %}
	
	{% if condition == -1%}
		<h2>Clientul nu a rezervat acel produs vreodata</h2>
	{% endif %}
</form>
</body> 
</html> 