<!DOCTYPE html> 
  
<html> 
<head> 
    <title>Frontend baze de date</title> 
</head> 
<body> 
<br>
<button onclick="window.location.href='/Vizualizare_tabeluri?ntab='">Vizualizare tabeluri</button><br>
<button onclick="window.location.href='/Stergere?ntab='">Stergere intrari din tabel</button><br>
<button onclick="window.location.href='/Editare?ntab='">Editare intrari din tabel</button><br>
<button onclick="window.location.href='/Afisdin3tabele?ncli='">Afisare informatii comanda(folosire de informatii din 3 tabele)</button><br>

</body>  
</html> 