<!DOCTYPE html>
<html>


<body>

<h2>Editare/Stergere intrari din tabel</h2>

<form action="/Editare_Stergere/">
  <label for="ntab">Numele tabelului:</label><br>
  <input type="text" name="ntab" value=""><br>
  <input type="radio" id="Inserare" name="actiune" value="0">
  <label for="Inserare"> Inserare</label><br>
  <input type="radio" id="Editare" name="actiune" value="1">
  <label for="Editare"> Editare</label><br>
  <input type="radio" id="Setrgere" name="actiune" value="2">
  <label for="Setrgere"> Setrgere</label><br>
  <label for="info">Noua colona sau idul coloanei de sters</label><br>
  <input type="number" name="info" value=""><br>
  <input type="submit" value="Afiseaza tabelul">
</form> 
</body>

</html>